@page "/planning/upcommingPrograms"


<div id="main">
    <div class="primary-container">
        <div class="wizard-heading">Upcoming Programs</div>
        <div class="form-floating mb-3">
            <div class="row">
                <div class="col-5" style="margin-right:100px;">
                       
                    <RadzenCard>
                        <RadzenDropDown AllowClear="true" TValue="string" Class="w-100" Placeholder="District.." />
                    </RadzenCard>
                    <br/>

                    <RadzenCard>
                        <RadzenDatePicker @bind-Value=@value DateFormat="d" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) Class="w-100" />
                    </RadzenCard>

                    <RadzenCard>
                        <RadzenDropDown AllowClear="true" TValue="string" Class="w-100" Placeholder="Program Type.." />
                    </RadzenCard>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <input type="button" class="primary-btn" value="Search" />
            </div>
        </div>
        <br />

        <div class="row justify-content-end">
            <div class="col-3">
                <a href="#">
                    <input type="button" class="primary-btn" value="Add Special Program" style="width:180px;margin-right:40px;" />
                </a>
            </div>
            <div class="col-3">
                <a href="#">
                    <input type="button" class="primary-btn" value="Add new Program" style="width:180px;margin-right:40px;" />
                </a>
            </div>
        </div>
        <br /><br />

        <table class="table primary-table">
            <thead class="table-active">
                <tr>
                    <th scope="col" style="width:100px;">Date</th>
                    <th scope="col" style="width:200px;">Officer Name</th>
                    <th scope="col" style="width:100px;">District</th>
                    <th scope="col" style="width:100px;">DS Division</th>
                    <th scope="col" style="width:200px;">Program category</th>
                    <th scope="col" style="width:100px;">Program </th>
                    <th scope="col" style="width:200px;">Program type</th>
                    <th scope="col" style="width:100px;">Action</th>
                </tr>
            </thead>
            <tbody>
               <tr> 
                    <td>09/10/2022</td>
                    <td>Amal Perera</td>
                    <td>Colombo</td>
                    <td>Colombo</td>
                    <td>Common</td>
                    <td>A/L</td>
                    <td>Physical</td>
                    <th scope="row">
                        <label class="my-radio">
                            <input type="radio" id="2" name="">
                        </label>
                    </th>
                </tr>
                <tr> 
                    <td>09/10/2022</td>
                    <td>Amal Perera</td>
                    <td>Colombo</td>
                    <td>Colombo</td>
                    <td>Common</td>
                    <td>A/L</td>
                    <td>Physical</td>
                    <th scope="row">
                        <label class="my-radio">
                            <input type="radio" id="2" name="">
                        </label>
                    </th>
                </tr>
                <tr> 
                    <td>09/10/2022</td>
                    <td>Amal Perera</td>
                    <td>Colombo</td>
                    <td>Colombo</td>
                    <td>Common</td>
                    <td>A/L</td>
                    <td>Physical</td>
                    <th scope="row">
                        <label class="my-radio">
                            <input type="radio" id="2" name="">
                        </label>
                    </th>
                </tr>
                <tr>
                    <td>09/10/2022</td>
                    <td>Amal Perera</td>
                    <td>Colombo</td>
                    <td>Colombo</td>
                    <td>Common</td>
                    <td>A/L</td>
                    <td>Physical</td>
                    <th scope="row">
                        <label class="my-radio">
                            <input type="radio" id="2" name="">
                        </label>
                    </th>
                </tr>
            </tbody>
        </table>
        @*----------------table end------------------*@

    </div>
</div>


@code {


    //-------------- Date Picker hander --------------------//

    DateTime? value = DateTime.Now;

    IEnumerable<DateTime> dates = new DateTime[] { DateTime.Today.AddDays(-1), DateTime.Today.AddDays(1) };

    

    void OnChange(DateTime? value, string name, string format)
    {
    }

    void DateRenderSpecial(DateRenderEventArgs args)
    {
        if (dates.Contains(args.Date))
        {
            args.Attributes.Add("style", "background-color: #ff6d41; border-color: white;");
        }
    }

    void DateRender(DateRenderEventArgs args)
    {
        args.Disabled = args.Disabled || dates.Contains(args.Date);
    }

    void DateRenderNoWeekends(DateRenderEventArgs args)
    {
        args.Disabled = args.Disabled || args.Date.DayOfWeek == DayOfWeek.Sunday || args.Date.DayOfWeek == DayOfWeek.Saturday;
    }

    void OnTodayClick()
    {
        value = DateTime.Now;
    }
}



