@inherits LayoutComponentBase

<div class="top-row">
    <div class="col-12">
        <img src="../header2.png" style="height:94%; width:30em" />

    </div>
</div>

<article class="content px-4">


    @Body

</article>